{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "plugins": ["@typescript-eslint", "simple-import-sort", "unused-imports"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "off",
    "no-console": "warn",

    //#region  //*=========== Unused Import ===========
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    //#endregion  //*======== Unused Import ===========

    //#region  //*=========== Sort Import ===========
    "simple-import-sort/exports": "warn",
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          // other that didnt fit in
          ["^"],
          // relative paths up until 3 level
          [
            "^\\./?$",
            "^\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\.\\.(?!/?$)",
            "^\\.\\./\\.\\./?$",
            "^\\.\\./\\.\\.(?!/?$)",
            "^\\.\\./\\.\\./\\.\\./?$",
            "^\\.\\./\\.\\./\\.\\.(?!/?$)"
          ]
        ]
      }
    ]
    //#endregion  //*======== Sort Import ===========
  },
  "globals": {
    "React": true,
    "JSX": true
  }
}
